footer {
    display: flex;
    align-items: center;
    margin: 20px 50px;
    justify-content: space-between;
    font-weight: 600;
}

.cgv {
    color: black;
    text-decoration: none;
}